<nav>
  <a href="#" class="brand-logo center">Rocket Trakr</a>
  <ul id="slide-out" class="side-nav">
    {{#link-to 'flights.new' tagName="li"}}<a>New Flight</a>{{/link-to}}
    {{#link-to 'flights.index' tagName="li"}}<a>Previous Flights</a>{{/link-to}}
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>
