@font-face {
    font-family: 'Fira-Mono';
    src: url('../font/fira-mono/firamono-regular-webfont.eot');
    src: url('../font/fira-mono/firamono-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/fira-mono/firamono-regular-webfont.woff2') format('woff2'),
         url('../font/fira-mono/firamono-regular-webfont.woff') format('woff'),
         url('../font/fira-mono/firamono-regular-webfont.ttf') format('truetype'),
         url('../font/fira-mono/firamono-regular-webfont.svg#fira_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
