@import "components/color";

$primary-color: color("orange", "base");
$secondary-color: color("blue", "darken-2");

@import "materialize";

@import "fira-mono";

html{
  line-height: 1.5;

  @media only screen and (min-width: 0) {
    font-size: 14px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 14.5px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 15px;
  }

  font-family: "Fira-Mono", monospace;
  font-weight: normal;
  color: $off-black;
}
