<ul class="collection">
  {{#link-to 'flights.new' tagName="li" class="collection-item"}}<a>New Flight</a>{{/link-to}}
  {{#link-to 'flights.index' tagName="li" class="collection-item"}}<a>Previous Flights</a>{{/link-to}}
</ul>
